body{
    background-image: linear-gradient(to right,rgb(159, 204, 171), rgb(245, 225, 166));
    /* background-color: red; */
    /* background-size: cover; */
}
.delete{
    background-color:rgb(129, 184, 145);
    border: none;
}
.btn{
    text-align: center;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 82px;
    padding: 5px 16px;
    background-color: rgb(129, 184, 145);
    border: 0px;

}
.btn:hover {
  background-color: rgb(129, 184, 145);
}
#ul{
     list-style: none;
     background-color: white;
    /* border: 1px solid red;
    margin-top: 3rem;  */
}
li{
    padding: 1rem;
    text-transform: capitalize;
}
.todo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: absolute;
}
input[type = text]{
    width: 100%;
    padding: 10px;
    background-color: rgb(129, 184, 145);
    border: 0px;
}
::placeholder{
    color: white;
    font-size: 16px;
    font-weight: lighter;
}
.strike{
    text-decoration: line-through;
}