@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
body{
    background: linear-gradient(to right,rgb(159, 204, 171), rgb(245, 225, 166));
    font-family: 'Recursive', sans-serif;
}
.delete{
    /* background-color:rgb(129, 184, 145); */
    border: none;
}
#ul{
     list-style: none;
     /* background-color: white; */
     width: 90%;
}
li{
    margin-top: 2rem;
    margin: 1rem;
    text-transform: capitalize;
    font-size: 12px;

}
.todo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.todo .card {
    padding: 10px 20px; 
}
.input-btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.input-btn input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.5px solid grey;
    padding-bottom: 7px;
    margin-top: 20px;
    outline: none;
    width: 371px;
}
.input-btn button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.task-table{
    margin-top: 3rem;
}

.strike{
    text-decoration: line-through;
} 